<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <header>Her er en header</header>
    <nav>
        <a href="/server/views/home.ejs">Home</a>
        <a href="/server/views/product.ejs">Product</a>
        <a href="/server/views/contact.ejs">Contact</a>
    </nav>
    <main>
        <h1>Contact</h1>
        <section>Her er section 1</section>
        <section>Her er section 2</section>
        <section>Her er section 3</section>
    </main>
    <footer>Her er footer</footer>
</body>
</html>